[run]
source =
    cookiecutter_python

[report]
show_missing = true
precision = 2
omit =
    *migrations*
    biskotaki-gold-standard
    biskotaki
    my-new-project
    my-fixture
exclude_lines =
    raise NotImplementedError
    raise NotImplemented
