.idea/
.vscode/

*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__

docs/_build/
dist/
build/
htmlcov/

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/

package-lock\.json
package\.json
pydeps/
gen/
Dockerfile-1
logging\.py\.wip
notes\.org~
cookie-py\.log
soft-rel\.log
notes\.md

# LOGS generate by our python code

cookie-py.log
dev-notes/
*\.txt
temp
*\.tar\.gz
docs-dist/
docs-build/
WIP.sh
\.mutmut-cache
