global-exclude *.py[cod] __pycache__ *.so *.dylib *.log

include LICENSE
include README.rst

recursive-include tests *.py
recursive-include src *.py

recursive-include docs *.rst

recursive-include src *.in
recursive-include src *.json
recursive-include src *.rst
recursive-include src *.toml
recursive-include src *.typed
recursive-include src *.yaml
recursive-include src *.txt
recursive-include tests *.json
recursive-include tests *.txt
