global-exclude *.py[cod] __pycache__ *.so *.dylib *.log

include LICENSE
include README.rst
include CONTRIBUTING.md

recursive-include src *.py
recursive-include src *.pyi

recursive-include src *.in
recursive-include src *.json
recursive-include src *.rst
recursive-include src *.toml
recursive-include src *.typed
recursive-include src *.yaml
recursive-include src *.txt

recursive-include tests *.py
recursive-include tests *.json
recursive-include tests *.txt

recursive-include docs *.rst
