# BUILD

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

# Poetry

# Information required for building (sdist/wheel)
## Also renders on pypi as 'subtitle'
[tool.poetry]
name = "cookiecutter_python"
version = "1.12.3"
description = "1-click Generator of Python Project, from Template with streamlined \"DevOps\" using a powerful CI/CD Pipeline."
authors = ["Konstantinos Lampridis <k.lampridis@hotmail.com>"]
maintainers = ["Konstantinos Lampridis <k.lampridis@hotmail.com>"]
license = "AGPL-3.0-only"
readme = "README.rst"

homepage = "https://github.com/boromir674/cookiecutter-python-package"
repository = "https://github.com/boromir674/cookiecutter-python-package"
documentation = "https://python-package-generator.readthedocs.io/"

keywords = [
    "python package generator",
    "python package template",
    "cookiecutter",
    "python package",
    "automation"
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Intended Audience :: Developers",
    "Intended Audience :: End Users/Desktop",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU Affero General Public License v3",
    "Natural Language :: English",
    "Operating System :: Unix",
    "Operating System :: POSIX :: Linux",
    "Operating System :: MacOS",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Topic :: System :: Software Distribution",
    "Typing :: Typed"
]

packages = [
    { include = "cookiecutter_python", from = "src" },
]

include = [
    { path = "tests", format = "sdist" },
    { path = "docs/**/*.rst", format = "sdist" },
    { path = "docs/conf.py", format = "sdist" },
    { path = "src/**/*.typed", format = "sdist" },
    { path = "src/stubs/*.pyi", format = "sdist" },
    "pyproject.toml",
    "LICENSE",
    "README.rst",
    "CONTRIBUTING.md",
    "CHANGELOG.rst",
]

exclude = [
    "docs/*",
    "requirements/*",
    "scripts/*.py",
    "tox.ini",
    ".circleci/config.yml",
    ".coveragerc",
    ".DS_Store",
    ".gitignore",
    ".prospector.yml",
    ".pylintrc",
    ".readthedocs.yml",
    ".scrutinizer.yml",
    ".travis.yml"
]


[tool.poetry.scripts]
generate-python = 'cookiecutter_python.cli:main'

[tool.poetry.dependencies]
python = ">3.6,<3.13"
click = "^8"
cookiecutter = "^1.7.3"
software-patterns = "^1.3.0"
requests-futures = "^1.0.0"
gitpython = "^3.1"
questionary = "^1.10.0"
attrs = "^21.4.0"


# Caret requirements allow SemVer compatible updates to a specified version. An update is allowed if the new version number does not modify the left-most non-zero digit in the major, minor, patch grouping. For instance, if we previously ran poetry add requests@^2.13.0 and wanted to update the library and ran poetry update requests, poetry would update us to version 2.14.0 if it was available, but would not update us to 3.0.0. If instead we had specified the version string as ^0.1.13, poetry would update to 0.1.14 but not 0.2.0. 0.0.x is not considered compatible with any other version.
# REQUIREMENT  VERSIONS ALLOWED
# ^1.2.3	   >=1.2.3 <2.0.0
# ^1.2	       >=1.2.0 <2.0.0
# ^1	       >=1.0.0 <2.0.0
# ^0.2.3	   >=0.2.3 <0.3.0
# ^0.0.3	   >=0.0.3 <0.0.4
# ^0.0	       >=0.0.0 <0.1.0
# ^0	       >=0.0.0 <1.0.0
# "~" is the more conservative compared to "^"
# Tilde requirements specify a minimal version with some ability to update. If you specify a major, minor, and patch version or only a major and minor version, only patch-level changes are allowed. If you only specify a major version, then minor- and patch-level changes are allowed.
# REQUIREMENT  VERSIONS ALLOWED
# ~1.2.3	   >=1.2.3 <1.3.0
# ~1.2	       >=1.2.0 <1.3.0
# ~1	       >=1.0.0 <2.0.0

# Test: packages imported in test code and packages required for the "test runner"
pytest = { version = ">= 6.2.4", optional = true }
pytest-object-getter = { version = "^1.0.1", optional = true }
pytest-click = { version = "~= 1.1.0", optional = true }
pytest-cov = { version = ">= 2.12", optional = true }
pytest-explicit = { version = "~= 1.0.1", optional = true }
pytest-xdist = { version = ">= 1.34", optional = true }
pytest-run-subprocess = { version = "== 0.9.0", optional = true }
pytest-requests-futures = { version = "== 0.9.0", optional = true }
pyyaml = { version = "^6.0", optional = true }

# Docs: development and build dependencies
sphinx = { version = "~= 4.0", optional = true }
sphinx-autodoc-typehints = { version = ">= 1.10", optional = true }
sphinx-rtd-theme = { version = "== 0.5.0", optional = true }
sphinxcontrib-spelling = { version = "~= 7.3.3", optional = true }
sphinx-autobuild = { version = "^2021.3.14", optional = true }

# Type Checking: packages required for the type check (ie mypy) to pass
mypy = { version = "== 0.961", optional = true }
types-requests = { version = "~= 2.27.26", optional = true }
types-pyyaml = { version = "^6.0.12.5", optional = true }

[tool.poetry.extras]
test = [
    "pytest",
    "pytest-click",
    "pytest-cov",
    "pytest-explicit",
    "pytest-xdist",
    "pytest-object-getter",
    "pytest-run-subprocess",
    "pytest-requests-futures",
    "pyyaml",
]
docs = [
    "sphinx",
    "sphinx-autodoc-typehints",
    "sphinx-rtd-theme",
    "sphinxcontrib-spelling",
]
docslive = [
    "sphinx",
    "sphinx-autodoc-typehints",
    "sphinx-rtd-theme",
    "sphinxcontrib-spelling",
    "sphinx-autobuild",
]
typing = [
    "mypy",
    "types-requests",
    "pytest",
    "pytest-click",
    "types-pyyaml",
]


# PyPi url links, that appear in 'Project Links' section
[tool.poetry.urls]
"Bug Tracker" = "https://github.com/boromir674/cookiecutter-python-package/issues"
"CI: Github Actions" = "https://github.com/boromir674/cookiecutter-python-package/actions"
"Documentation" = "https://python-package-generator.readthedocs.io/"
"Source Code" = "https://github.com/boromir674/cookiecutter-python-package"
# TODO Improve: add changelog in Docs and use that link below
# https://cookiecutter-python-package.readthedocs.io/en/stable/changelog.html
"Changelog" = "https://github.com/boromir674/cookiecutter-python-package/blob/master/CHANGELOG.rst"
"Code of Conduct" = "https://github.com/boromir674/cookiecutter-python-package/blob/master/CONTRIBUTING.rst"
# Mailing lists =



# TOOLS

## Pytest & Plugins

[tool.pytest.ini_options]
minversion = "6.2"
# hard-inject args, when invoking `pytest` CLI
addopts = "--strict-markers --ignore=tests/data"
# for explict --run-integration -> pip install pytest-explicit
markers = [
    "slow: Marks a slow test",
    "integration: Tests applicable to a newly Generated Project, running with tox",
    "network_bound: Require internet connection",
]
testpaths = [
    "tests",
]
explicit-only = [
    "integration",
    "network_bound",
]


## Black formatting/linting

[tool.black]
line-length = 95
include = '\.pyi?$'
extend-exclude = '''
# A regex preceeded with ^/ will apply only to files and directories
# in the root of the project.
# ^/foo.py  # exclude a file named foo.py in the root of the project (in addition to the defaults)
tests/smoke_test.py|
hooks/post_gen_project.py
'''


[tool.isort]
profile = 'black'


[tool.software-release]
version_variable = "src/cookiecutter_python/__init__.py:__version__"


# BANDIT

[tool.bandit]
tests = []
skips = [
    "B101",
]
