.idea/
.vscode/

*.egg-info/
*.pyc
*\.bak
\.fuse*
.coverage
.DS_Store
*__pycache__

docs/_build/
dist/
build/
htmlcov/

.tox/
node_modules

dependency-graphs/
test-results/
uml-diagrams/
pydoer-graphs/

# LOGS

cookie-py.log
